@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

:root {
}

body {
  font-family: "Jost", serif;
}

* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}